h1 {
    background-color: beige;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

img {
    height: 300px;
    width: auto;
    display: block;
    margin: 0 auto;
}

.intro {
    text-align: center;
    background-color: aquamarine;
    padding: 8px;
    margin: 5px 10px;

}

p {
    font-style: italic;
    text-align: center;
}

.steps,
.ingredients {
    background-color: azure;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 20px;
    margin: 8px 16px;

}